.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.STOPPING{
  background: linear-gradient(90deg, RED 50%, transparent 50%), 
  linear-gradient(90deg, RED 50%, transparent 50%), 
  linear-gradient(0deg, RED 50%, transparent 50%), 
  linear-gradient(0deg, RED 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 3px, 16px 3px, 3px 16px, 3px 16px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 5px;
  padding: 10px;
  animation: dash 10s linear infinite;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  outline: none;
  box-shadow: 0 0 20px RED;

  
}
.STARTING{
background: linear-gradient(90deg, green 50%, transparent 50%), 
linear-gradient(90deg, green 50%, transparent 50%), 
linear-gradient(0deg, green 50%, transparent 50%), 
linear-gradient(0deg, green 50%, transparent 50%);
background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
background-size: 16px 3px, 16px 3px, 3px 16px, 3px 16px;
background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
border-radius: 5px;
padding: 10px;
animation: dash 10s linear infinite;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
outline: none;
box-shadow: 0 0 20px green;


}

@keyframes dash {
to {
background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
}
}
